[submodule "src/github.com/pivotal-cf-experimental/kafka-example-service-adapter"]
	path = src/github.com/pivotal-cf-experimental/kafka-example-service-adapter
	url = https://github.com/pivotal-cf-experimental/kafka-example-service-adapter.git
	pushurl = git@github.com:pivotal-cf-experimental/kafka-example-service-adapter.git
